* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin-top: 100px;
  height: 300px;
  width: 300px;
  background-color: red;
  animation: rotate1 1s infinite forwards reverse;
}
@keyframes rotate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
}
@keyframes rotate1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
